In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/gapminder.tsv', sep = '\t')

In [5]:
df.head()19

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
df.loc[(df['country'] == 'United States') & (df['year'] == 1982)]
#loc looks for indexes that have these names in the list provided, 
#iloc looks for the exact index and does not do string matching like loc

            country continent  year  lifeExp        pop    gdpPercap
1614  United States  Americas  1982    74.65  232187835  25009.55914

In [8]:
df.groupby(['year'])['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [9]:
import numpy as np
df.groupby(['year'])['lifeExp'].agg(np.std)

year
1952    12.225956
1957    12.231286
1962    12.097245
1967    11.718858
1972    11.381953
1977    11.227229
1982    10.770618
1987    10.556285
1992    11.227380
1997    11.559439
2002    12.279823
2007    12.073021
Name: lifeExp, dtype: float64

In [14]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].agg(np.mean).head(10)
#the ([]) selects the grouping columns while the [ []] chooses the columns to do the np.mean on

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455

In [13]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].agg(np.mean).reset_index().head()
#reset_index shifts from hierarchial notation like above to standard dataframe

   year continent    lifeExp     gdpPercap
0  1952    Africa  39.135500   1252.572466
1  1952  Americas  53.279840   4079.062552
2  1952      Asia  46.314394   5195.484004
3  1952    Europe  64.408500   5661.057435
4  1952   Oceania  69.255000  10298.085650