In [1]:
def mysq (x):
    return x**2

In [2]:
assert mysq (4) == 16
#this is one way to test yoru function to see if they work by supplying the correct answer
#if error exist then error message will occur

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'a': [10,20,30],
    'b': [20,30,40]
}
)

In [6]:
df['c'] = df.a **2 # this is called broadcasting

In [7]:
df

    a   b    c
0  10  20  100
1  20  30  400
2  30  40  900

In [8]:
df.b.apply(mysq)

0     400
1     900
2    1600
Name: b, dtype: int64

In [9]:
def my_exp(x,e):
    return x ** e

In [10]:
df.b.apply(my_exp, e=4)

0     160000
1     810000
2    2560000
Name: b, dtype: int64

In [11]:
import numpy as np

In [12]:
def avg_apply (col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

In [13]:
df.apply(avg_apply)

a     20.000000
b     30.000000
c    466.666667
dtype: float64

In [14]:
df.a.mean()

20.0

In [15]:
df

    a   b    c
0  10  20  100
1  20  30  400
2  30  40  900

In [16]:
def avg2_mod(x,y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [17]:
import numpy as np

In [18]:
avg2_mod(df.a,df.b)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [19]:
avg2_mod_vec = np.vectorize(avg2_mod)

In [20]:
avg2_mod_vec(df.a,df.b)

array([15., nan, 35.])

In [21]:
# this vectorize the function using the decorator class 
@np.vectorize
def avg2_mod(x,y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [22]:
avg2_mod(df.a,df.b)

array([15., nan, 35.])

In [ ]:
#this vectorize the function using the decorator class 
#import numba  would have to install this package 
@numba.vectorize
def avg2_mod_numba(x,y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2
avg2_mod_numba(df.a.values,df.b.values)# numba only understands numpy arrays and series is a

In [23]:
%%timeit
avg2_mod(df.a,df.b)

261 µs ± 54 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [24]:
%%timeit
avg2_mod_vec(df.a,df.b)

254 µs ± 41.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)